<!--

    Copyright (c) 2010-2012 Nest Labs, Inc.
    All rights reserved.

    This document is the property of Nest. It is considered
    confidential and proprietary information.

    This document may not be reproduced or transmitted in any form,
    in whole or in part, without the express written permission of
    Nest.

-->
<config>
   <backplatesimulatorconfig>
      <!-- settings set outside of nlbackplatesimulator.cpp (cannot be changed during simulation) -->
         <a key="backplatesimulationrun" value="0"/>
         <a key="backplatesimulatetempandhum" value="0"/>
         <!-- -1:custom, 0:none, 1:1H1C, 2:1H2C, 3:2H1C, 4:2H2C, 5:3H1C, 6:3H2C 7:(HP)1H1C, 8:(HP)1H1CAUX, 9:(HP)1H1CE,  10:(HP)1H1CAUXE, 11:(HP)2H2C, 12:(HP)2H2CAUX, 13:(HP)2H2CE, 14:(HP)2H2CAUXE, 15:1H, 16:1C, 17:2H, 18:2C, 19:3H -->
         <a key="backplatesimulationhvactype" value="0"/>
         <!-- Rh, W1, Y1, G, C, O/B, AUX/W2, Y2, Rc, STAR -->
         <a key="backplatesimulationhvacwires" value="Rh,W1,Y1,G"/>
         <!-- Rh, W1, Y1, G, C, O/B, AUX/W2, Y2, Rc, STAR -->
         <a key="backplatesimulationhvacpins" value="Rh,W1,Y1,G"/>
      <!-- settings set within nlbackplatesimulator.cpp (can be changed during simulation) -->
         <a key="backplatesimulationmode" value="daily"/>
         <a key="backplatesimulationbuildinginefficiency" value="0.00025"/>
         <a key="backplatesimulationactualhumidity" value="10"/>
         <a key="backplatesimulationnoisemagnitude" value="0.0033"/>
         <a key="backplatesimulationoverundershoot" value="0"/>
         <a key="backplatesimulationradiantheating" value="0"/>
        <!-- settings exclusively for daily mode -->
         <a key="backplatesimulationtemperaturemin" value="10"/>
         <a key="backplatesimulationtemperaturemax" value="29.5"/>
        <!-- settings exclusively for hourly mode -->
         <a key="backplatesimulationambienttemperature" value="10"/>
         <a key="backplatesimulationstarttemperature" value="20"/>
   </backplatesimulatorconfig>
   <a key="screendpi" value="183"/>
   <!-- a key="screendpi" value="133"/ this is for Mac OS -->
   <a key="fontroot" value="/nestlabs/share/fonts/"/>
   <a key="assetsroot" value="/nestlabs/share/images/"/>
   <a key="localeroot" value="/nestlabs/share/client/locales"/>
   <a key="sleeptimeout" value="20000"/>
   <a key="debug" value="0"/>
   <a key="pressandholdtime" value="1600"/>
   <cloud>
      <a key="cloudregisterurl" value="https://frontdoor.nest.com/entry"/>
      <a key="czauth" value="1"/>
      <a key="cz_sniffer" value="on_error"/>
   </cloud>
   <a key="softwareupdatecommand" value="/nestlabs/sbin/osm"/>
   <a key="softwareupdatepath" value="/media/scratch/"/>
   <a key="softwareupdatesimulatelowbattery" value="0"/>
   <a key="softwareupdatesimulateserviceproblem" value="0"/>
   <a key="softwareupdatefailurelockoutminutes" value="180"/>
   <!-- a key="softwareupdatemaximumdeferraltimeforinstallation" value="43200"/ 12 hours -->
   <!-- a key="softwareupdateminimumdeferraltimefornoncriticalinstallation" value="1800"/ 30 minutes -->
   <!-- a key="softwareupdatedownloadbatterylevelmv" value="3700"/ -->
   <!-- a key="softwareupdateinstallbatterylevelmv" value="3700"/ -->
   <a key="certblacklistpath" value="/nestlabs/share/certs/nest-crl-bundle.pem"/>
   <a key="rootcertpath" value="/nestlabs/share/certs/ca-bundle.pem"/>
   <a key="rootunlockcertpath" value="/nestlabs/share/certs/ca-unlock-bundle.pem"/>
   <a key="logfilerolltime" value="1800"/>
   <a key="genericlogfileroot" value="/nestlabs/var/log/nlclient"/>
   <a key="genericlogfilename" value="clientdebug"/>
   <a key="genericlogfileversion" value="3"/>
   <a key="genericlogfilerollsize" value="50000"/>
   <a key="genericlogfilerollgens" value="80"/>
   <a key="systemlogfileroot" value="/var/log/messages"/>
   <a key="systemlogfilename" value="syslog"/>
   <a key="systemlogfileversion" value="1"/>
   <a key="systemlogfilerollgens" value="15"/>
   <a key="systemlogfileflags" value="0x1"/>
   <a key="eventlogfileroot" value="/nestlabs/var/log/nlevent"/>
   <a key="eventlogfilename" value="clientevent"/>
   <a key="eventlogfileversion" value="1"/>
   <a key="eventlogfilerollsize" value="40000"/>
   <a key="eventlogfilerollgens" value="450"/>
   <a key="heatlinkeventlogfileroot" value="/var/log/nlhlevent"/>
   <a key="heatlinkeventlogfilename" value="heatlinkevent"/>
   <a key="heatlinkeventlogfileversion" value="1"/>
   <a key="heatlinkeventlogfilerollgens" value="15"/>
   <a key="heatlinkeventlogfileflags" value="0x1"/>
   <a key="perfdatalogfileroot" value="/var/log/perfdata"/>
   <a key="perfdatalogfilename" value="perfdata"/>
   <a key="perfdatalogfileversion" value="1"/>
   <a key="perfdatalogfilerollgens" value="2"/>
   <a key="perfdatalogfileflags" value="0x1"/>
   <a key="energystatsrecoveryfile" value="/nestlabs/var/data/energystats.recovery"/>
   <a key="overundershootjsonrecoveryfile" value="/nestlabs/var/data/overundershoot.json"/>
   <a key="schedulemanagerrecoveryfile" value="/nestlabs/var/data/schedulemanager.recovery"/>
   <a key="smartthermostatmanagerjsonrecoveryfile" value="/nestlabs/var/data/smartthermostatmanager.json"/>
   <a key="schedulelearnerrecoveryfile" value="/nestlabs/var/data/schedulelearner.recovery"/>
   <a key="schedulescorerecoveryfile" value="/nestlabs/var/data/schedulescore.recovery"/>
   <a key="autoawayrecoveryfile" value="/nestlabs/var/data/autoaway.recovery"/>
   <a key="historyrecoveryfile" value="/nestlabs/var/data/sensorhistory.recovery"/>
   <a key="airwaverecoveryfile" value="/nestlabs/var/data/airwave.recovery"/>
   <a key="radiantcontrolrecoveryfile" value="/nestlabs/var/data/radiantcontrol.recovery"/>
   <a key="sunlightcorrectionrecoveryfile" value="/nestlabs/var/data/sunlightcorrection.recovery"/>
   <a key="usageestimatorjsonrecoveryfile" value="/nestlabs/var/data/usageestimator.json"/>
   <a key="tuneupmanagerjsonrecoveryfile" value="/nestlabs/var/data/tuneupmanager.json"/>
   <a key="tuneuplearnerjsonrecoveryfile" value="/nestlabs/var/data/tuneuplearner.json"/>
   <a key="drmanagerjsonrecoveryfile" value="/nestlabs/var/data/drmanager.json"/>
   <a key="autodehumjsonrecoveryfile" value="/nestlabs/var/data/autodehum.json"/>
   <a key="predictionmanagerjsonrecoveryfile" value="/nestlabs/var/data/predictionmanager.json"/>
   <a key="goosemgrrecoveryfile" value="/nestlabs/var/data/goosemgr.recovery"/>
   <a key="furnaceshutdownrecoveryfile" value="/nestlabs/var/data/furnaceshutdown.recovery"/>
   <a key="crystalsubspaceidrecoveryfile" value="/nestlabs/var/data/crystalsubspaceid.recovery"/>
   <a key="toumanagerjsonrecoveryfile" value="/nestlabs/var/data/toumanager.json"/>
   <a key="rateplanjsonrecoveryfile" value="/nestlabs/var/data/rateplan.json"/>
   <a key="demandchargejsonrecoveryfile" value="/nestlabs/var/data/demandcharge.json"/>
   <a key="modulationsubspaceidrecoveryfile" value="/nestlabs/var/data/modulationsubspaceid.recovery"/>
   <a key="autotunesubspaceidrecoveryfile" value="/nestlabs/var/data/autotunesubspaceid.recovery"/>
   <a key="boilerfilterjsonrecoveryfile" value="/nestlabs/var/data/boilerfilter.json"/>
   <a key="rcsjsonrecoveryfile" value="/nestlabs/var/data/rcsmanager.json"/>
   <a key="rcshistoryrecoverypath" value="/nestlabs/var/data/"/>
   <a key="fleetrhrjsonrecoveryfile" value="/nestlabs/var/data/fleetrhr.json"/>
   <a key="overundershootenabled" value="1"/>
   <a key="minconvergencedelta" value="0.05"/>
   <a key="obshortedforcool" value="1"/>
   <a key="uploadlogs" value="1"/>
   <a key="uploadcompression" value="1"/>
   <a key="waitforvsync" value="0"/>
   <a key="fbrotate" value="0"/>
   <a key="gfxmode" value="0"/>
   <a key="gfxcachemode" value="0"/>
   <a key="gfxprofiling" value="0"/>
   <a key="rotaryhysteresis" value="20"/>
   <a key="rotarygain" value="-1024"/>
   <a key="backlightcontrol" value="1"/>
   <a key="clientversion" value=""/>
   <a key="pirthreshold" value="100"/>
   <a key="wifiinterface" value="wlan0"/>
   <a key="weatherpollinterval" value="3900"/>
   <a key="settingsfile" value="/nestlabs/etc/user/settings.config"/>
   <a key="permanentsettingsfile" value="/nestlabs/etc/system/permanentsettings.config"/>
   <a key="fbdevice" value="/dev/fb0"/>
   <a key="tempscreenslidescale" value="0.41"/>
   <a key="networkrecoveryenabled" value="1"/>
   <a key="networkrecoveryscaninterval" value="5000"/>
   <a key="networkrecoverytimeout" value="45000"/>
   <a key="networkresetenabled" value="1"/>
   <a key="networkresettimeout" value="5400"/>
   <a key="networkfailurelimit" value="4"/>
   <a key="daysforautoawayconfidence" value="7"/>
   <a key="randomizemidnighttimeforlearning" value="1"/>
   <a key="dropboxlabel" value="Nest"/>
   <a key="dropboxmount" value="/media/dropbox"/>
   <a key="dropboxstorage" value="/media/scratch/dropbox"/>
   <a key="dropboxdonotextend" value="0"/>
   <a key="clockchangedthreshold" value="60"/>
   <a key="environmentplistpath" value="/media/provision/data.plist"/>
   <a key="overrideauthkey" value="0"/>
   <a key="simauthkey" value=""/>
   <a key="weatherurloverrideenable" value="0"/>
   <a key="weatherurloverride" value=""/>
   <a key="backplateupdatefile" value="/nestlabs/share/bp/data/firmware/nlbpfirmware.plist"/>
   <a key="cloudupdateenable" value="1"/>
   <a key="brightnesspath" value="/nestlabs/share/client/brightness/brightness.plist"/>
   <a key="calibrationpath" value="nestlabs/share/client/calibration/calibration.plist"/>
   <a key="autobackplateupdate" value="1"/>
   <a key="prevent_heatlink_update" value="0"/>
   <a key="infieldjoiningpermitted" value="0"/>
   <a key="keepaliveinterval" value="120"/>
   <a key="connectivitytechnologies" value="wifi"/>
   <a key="technologies" value="wifi,lowpan"/>
   <!-- The above keys "technologies" and "connectivitytechnologies" are comma separated lists.
        "technologies" represent a list of technologies supported.
        "connectivitytechnologies" represents connectivity to "the service".
         The explicit format is:
         <a key="connectivitytechnologies" value="technology1,technology2,...,technologyN">
   -->
   <a key="topazalertsenabled" value="1"/>
   <a key="proinfosettingsfile" value="/nestlabs/etc/user/proinfosettings.config"/>
   <a key="weavegroupkeystorepath" value="/nestlabs/etc/user/weavegroupkeystoredata"/>
</config>
