<!--

    Copyright (c) 2010-2018 Nest Labs, Inc.
    All rights reserved.

    This document is the property of Nest. It is considered
    confidential and proprietary information.

    This document may not be reproduced or transmitted in any form,
    in whole or in part, without the express written permission of
    Nest.

-->
<config>
   <a key="akkuratfont" value="AkkuratNest-Bold.ttf"/>
<!-- bold and normal fonts are currently the same on D1 and D2 -->
   <a key="akkuratfontbold" value="AkkuratNest-Bold.ttf"/>
   <a key="akkuratfontlight" value="AkkuratNest-Regular.ttf"/>
   <a key="rotarydevice" value="/dev/input/event1"/>
   <a key="buttondevice" value="/dev/input/event2"/>
   <a key="backlightdevice" value="/sys/class/backlight/3-0036"/>
   <a key="backlighthwramp" value="/sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0036"/>
   <a key="backlighthwramprates" value="1,130,260,520,1000,2000,4000,8000"/>
<!-- make sure to use one of the backlightramprates values -->
   <a key="backlightexponentbase" value="1.05734"/>
   <a key="backlightmaxbrightness" value="127"/>
   <a key="backlighteffiency" value="0.88"/>
   <a key="backlightmultiplier" value="0.01598"/>
   <a key="backlightforwardvoltage" value="12.8"/>
   <a key="cpuidlepower" value="300"/>
   <a key="cpuactivepower" value="400"/>
   <a key="systemsyspendpower" value="30"/>
   <a key="backplatedevice" value="/sys/devices/platform/diamond-backplate/"/>
   <a key="backplateflowcontrol" value="0"/>
   <a key="backplateserialdevice" value="/dev/ttyO2"/>
   <a key="displayfadeuptime" value="260"/>
   <a key="displayfadedowntime" value="2000"/>
   <a key="dropboxsize" value="41943040"/>
   <a key="hasproximitysensor" value="0"/>
   <a key="hasnearpirsensor" value="1"/>
   <a key="nearpirthreshold" value="15"/>
   <a key="hasthermopilesensor" value="0"/>
   <a key="clickfrequency" value="2000"/>
   <a key="clickduration" value="3"/>
   <a key="refreshals" value="0"/>
   <a key="heatlinkupdatefile" value="/nestlabs/share/heatlink/data/firmware/nlhlfirmware.plist"/>
   <a key="technologies" value="wifi,lowpan"/>
   <a key="connectivitytechnologies" value="wifi"/>
   <!-- The above keys "technologies" and "connectivitytechnologies" are comma separated lists.
        "technologies" represent a list of technologies supported.
        "connectivitytechnologies" represents connectivity to "the service".
         The explicit format is:
         <a key="connectivitytechnologies" value="technology1,technology2,...,technologyN">
   -->
   <a key="connectorfile_2_0" value="/nestlabs/share/images/Connector_2_0"/>
   <a key="connectorselectedfile_2_0" value="/nestlabs/share/images/ConnectorSelected_2_0"/>
   <a key="estimated_install_seconds" value="225"/>
   <a key="estimated_verify_seconds" value="70"/>
   <a key="maximum_verify_seconds" value="200"/>
   <a key="estimated_recovery_seconds" value="40"/>
   <a key="heatlinkgreenfile" value="/nestlabs/share/images/a1_heatlink_green.png"/>
   <a key="heatlinkblankfile" value="/nestlabs/share/images/a1_heatlink_blank.png"/>
   <a key="fbtype" value="omapfb"/>
   <a key="defaultalsefficiency" value="1"/>
   <a key="appsetupicon" value="/nestlabs/share/images/appsetupicon"/>
   <a key="usephoenix" value="0"/>
   <a key="legallogo" value="/nestlabs/share/images/G_legal_42px.png"/>
</config>
