<?xml version="1.0" encoding="ISO-8859-1"?>
<settings>
  <s key="fan_mode" value="AUTOMATICALLY"/>
  <s key="eco_mode_touched_by" value="0"/>
  <s key="safety_temperature_low" value="318561"/>
  <s key="autoaway_mode" value="-1"/>
  <s key="temperature_lock_min" value="1558223"/>
  <s key="auto_dehum_enabled" value="0"/>
  <s key="assigned_cred_id" value="a.02AA01AC481302W4"/>
  <s key="shared_version" value="5286"/>
  <s key="vacation_mode" value="0"/>
  <s key="startup_account_pairing_complete" value="0"/>
  <s key="where_version" value="-21529"/>
  <s key="learning_completed" value="1"/>
  <s key="swupdatefailedversion" value=""/>
  <s key="oob_temps_completed" value="1"/>
  <s key="fan_end_time" value="72000"/>
  <s key="location_set" value="1"/>
  <s key="servicegroup_version" value="0"/>
  <s key="hvac_partner_timestamp" value="1"/>
  <s key="time_zone_file" value="America/Toronto"/>
  <s key="awaytempcool" value="1000.000000"/>
  <s key="device_version" value="28737"/>
  <s key="smoke_alarm_active" value="0"/>
  <s key="max_nighttime_precond_setby" value="user"/>
  <s key="fan_timer_speed" value="stage1"/>
  <s key="autoaway_enabled" value="0"/>
  <s key="temperature_lock" value="0"/>
  <s key="cloud_algo_timestamp" value="0"/>
  <s key="node_id" value="1780100529276889456"/>
  <s key="last_possible_compressor_lockout_weather_time" value="1741015973"/>
  <s key="device_timestamp" value="1"/>
  <s key="dr_reminder_enabled" value="0"/>
  <s key="device_alert_dialog_timestamp" value="1"/>
  <s key="fan_cooling_enabled" value="0"/>
  <s key="temperature_lock_pin_hash" value=""/>
  <s key="temperaturescale" value="celsius"/>
  <s key="date_time_adj_completed" value="1"/>
  <s key="home_away_input" value="0"/>
  <s key="using_geo_ip" value="0"/>
  <s key="enhanced_auto_dehum_enabled" value="0"/>
  <s key="device_where_id" value="00000000-0000-0000-0000-00010000000a"/>
  <s key="hvac_wires" value="0,0,0,0,0,0,0,0,0,0,0,0,0"/>
  <s key="wifi_disable_reason" value="wifi_disable_reason_power_save"/>
  <s key="servicegroup_timestamp" value="0"/>
  <s key="schedule_timestamp" value="1751071255331"/>
  <s key="rcs_settings_version" value="26425"/>
  <s key="diamond_sensor_config_timestamp" value="1"/>
  <s key="structure_timestamp" value="1"/>
  <s key="fan_timer_timeout" value="0"/>
  <s key="fan_start_time" value="36000"/>
  <s key="pins_completed" value="011111000100000"/>
  <s key="diamond_sensor_config_version" value="31328"/>
  <s key="filter_changed_set_date" value="1506303618"/>
  <s key="time_format" value="24"/>
  <s key="where_timestamp" value="1"/>
  <s key="demand_response_version" value="-12661"/>
  <s key="last_sw_ota_service" value="Merlot"/>
  <s key="diagnostics_version" value="14507"/>
  <s key="hvac_pins" value="001010000000000"/>
  <s key="shared_timestamp" value="1751072756339"/>
  <s key="system_test_completed" value="1"/>
  <s key="thermostat_mode" value="programmable"/>
  <s key="startup_sequence_completed" value="1"/>
  <s key="away_setter" value="away_setter_control"/>
  <s key="goose_enabled" value="1"/>
  <s key="structure_version" value="-30135"/>
  <s key="system_off" value="NO"/>
  <s key="last_nonrange_sp" value="HEAT"/>
  <s key="learning_auto" value="NO"/>
  <s key="location_zipcode" value="H2A2K5"/>
  <s key="link_version" value="11556"/>
  <s key="time_of_swupdate" value="1569416071"/>
  <s key="devicename" value=""/>
  <s key="tou_timestamp" value="1"/>
  <s key="fan_cooling_ready" value="1"/>
  <s key="topaz_auto_away_enabled" value="0"/>
  <s key="awaytempheat" value="-1000.000000"/>
  <s key="current_locale" value="fr_CA"/>
  <s key="heatpump_savings" value="off"/>
  <s key="orderly_shutdown" value="0"/>
  <s key="structure_id" value="structure.d7682330-e682-11e3-8b1e-22000b340158"/>
  <s key="eco_mode_touched_when" value="1737838802"/>
  <s key="devicewhere_completed" value="1"/>
  <s key="wires_completed" value="1"/>
  <s key="autoaway_previous_learning" value="1"/>
  <s key="eco_mode" value="schedule"/>
  <s key="eco_mode_touched_user_id" value=""/>
  <s key="assigned_cred_secret" value="a.45ycPUcdvnE7-BGBuBoRnw"/>
  <s key="rcs_settings_timestamp" value="1"/>
  <s key="demand_charge_timestamp" value="1"/>
  <s key="topaz.18B430000032DB89.home_away_input" value="0"/>
  <s key="diagnostics_timestamp" value="1751069112219"/>
  <s key="last_nonemergency_sp" value="COOL"/>
  <s key="demand_response_timestamp" value="1"/>
  <s key="registered" value="1"/>
  <s key="location_country" value="CA"/>
  <s key="message_version" value="-24424"/>
  <s key="tou_version" value="-1"/>
  <s key="device_where" value="Cuisine"/>
  <s key="network_completed" value="1"/>
  <s key="filter_replacement_needed" value="1"/>
  <s key="utility_timestamp" value="1"/>
  <s key="autoaway_learning" value="2"/>
  <s key="isonphoenix" value="0"/>
  <s key="filter_reminder_enabled" value="1"/>
  <s key="sunlight_correction_ready" value="0"/>
  <s key="interview_completed" value="1"/>
  <s key="fan_schedule_speed" value="stage1"/>
  <s key="summary_completed" value="1"/>
  <s key="fan_on_time_per_hour" value="900"/>
  <s key="filter_reminder_level" value="1"/>
  <s key="rate_plan_timestamp" value="0"/>
  <s key="diamond_sensor_event_timestamp" value="1751073598428"/>
  <s key="range_enabled" value="1"/>
  <s key="eco_mode_change_reason" value="1"/>
  <s key="cloud_algo_version" value="23650"/>
  <s key="last_reset_reason" value="UI"/>
  <s key="cz_tier" value="production"/>
  <s key="link_timestamp" value="1"/>
  <s key="fan_timer_duration" value="900"/>
  <s key="device_alert_dialog_version" value="8118"/>
  <s key="temperature_lock_max" value="1746487"/>
  <s key="hotwater_away_active" value="0"/>
  <s key="wifi_state" value="wifi_disabled"/>
  <s key="interview_homebusiness" value="family"/>
  <s key="last_seen_time_of_swu" value="1569416071"/>
  <s key="fan_heat_cool_speed" value="auto"/>
  <s key="displaydarkmode" value="0"/>
  <s key="is_onboarded_to_eco" value="1"/>
  <s key="message_timestamp" value="1"/>
  <s key="demand_charge_version" value="-1"/>
  <s key="preconditioning_enabled" value="0"/>
  <s key="tuneups_version" value="10053"/>
  <s key="smoke_safety_shutoff_enabled" value="1"/>
  <s key="rate_plan_version" value="0"/>
  <s key="schedule_version" value="-31890"/>
  <s key="tuneups_timestamp" value="1"/>
  <s key="weave_service_config" value="1QAADwABADYBFTABCEdYfNbKQ+Z8JAIENwMnEwEAAADuMLQYGCYERUgWGiYFRQb7STcGJxMBAAAA7jC0GBgkBwImCCUAWiMwCjkEFJtArVoBj0T+fpKZeV1TBT0osdlSUx1FRK1ZTcslNfDQSMUwiG3iH5tQjeGhrxbfr0kphGthRBA1gykBKQIYNYIpASQCYBg1gTACCEM09xLfX5HPGDWAMAIIQzT3Et9fkc8YNQwwAR0AlvB51cbUag/T//0P7EqwJNQATpT0hWNT7odJgzACHQCPTm4jL9hwiKnIKvpqXtz6LnCd0ifQrU9apo0jGBgVMAEIZL1kF4YTKVwkAgQ3AywBBjc4NzM5NxgmBLxZTzAmBbwKwO83BiwBBjc4NzM5NxgkBwImCCUAWiMwCjkERbfcsGpiLFDZJxSdWgjrjXhnqWUgecK2Ji/RkCYZ5mPl04A1UDkNm4MVRgtVK06te8SzVZF0JZ01gykBGDWCKQEkAgUYNYQpATYCBAIEARgYNYEwAghMFAFJdPakNRg1gDACCEwUAUl09qQ1GDUMMAEcM6djn0PmhTy1DYPhLPhMfCx8b7xBvMmRJKS8yzACHEni/ykNXz4f7ImtVDUR/vS90fxUv5sr4A8Gd6cYGBg1AicBAQAAAAIwtBg2AhUsARJmcm9udGRvb3IubmVzdC5jb20lAlcrGBgYGA=="/>
  <s key="hvac_partner_version" value="25088"/>
  <s key="utility_version" value="-1"/>
  <s key="max_nighttime_preconditioning" value="18000"/>
  <s key="filter_changed_date" value="1506303618"/>
  <s key="diamond_sensor_event_version" value="21911"/>
</settings>
